@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
.fonts-lato{
    font-family: "Lato";
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}
input{
    outline: none;
}
@media (max-width: 767px) {
    .swiper-button-prev{
        display: none;
    }
    .swiper-button-next{
        display: none;
    }
    .auth{
        transform: scale(0.5);
    }
    .delivery-info{
        transform: scale(0.7);
    }
    .input{
        background: transparent;
    }
    .box-inside{
        box-shadow: inset 1px 1px 24px rgba(139, 151, 255, 0.2);
    }
}
.wrap{
    white-space: pre-wrap;
}
.bg-purple:hover{
    transition: 0.2s;
    background: #C5CBFF;
}
.bg-purple:active{
    background: #5A6BFF;
}
.product-card:hover{
    transition: 0.2s;
    transform: scale(1.07);
}